{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid"
}
